.card {
  background: #FF6314 ;
  border-radius: 2px;
  display: block;
  margin: 1rem;
  position: relative;
  width: 80%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  color: white; 
  justify-content: center;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 16px;
}

.card-text {
  font-size: 1rem;
  margin: 16px;
  white-space: pre-wrap; 
}